.header__logo {
    margin-left: 65px;
    margin-top: -20px;
}

.header__admin-page {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-right: 55px;
    margin-top: 0px;
}

.main-title {
    margin-top: 80px;
}

.